/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 100vh;
}

/* Optional: Makes the sample page fill the window. */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 0px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    padding-left: 0px;
    margin: 0px;
}

#floating-panel {
    margin-left: -52px;
    padding: 0;
    margin: 0;
}

.btn-floating {
    position: absolute;
    top: 25px;
    border-radius: 10px;
    left: 25%;
    z-index: 5;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 15px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 2px 10px #0c002b;
    overflow: hidden;
    background: #351f6e; /*#0c002b*/
    width: 100px;
    font-size: 14px;
    cursor: pointer;
}
@media screen and (max-width: 1100px){
    .btn-floating {
        top: 70px;
        left: 0;
    }
    #floating-panel {
        left: 80px;

    }
}
.btn-floating:hover {
    background: #4285F4;
}

.btn-floating:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
}

.btn-floating span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #4285F4, #3a5d8d);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.btn-floating span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #4285F4, #3a5d8d);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.btn-floating span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #4285F4, #3a5d8d);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.btn-floating span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #4285F4, #3a5d8d);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
