<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HuayroTech</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/menuLateral.css">

    <script src="https://kit.fontawesome.com/2d08ab27d5.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="menu-lateral" id="menuToggle">
        <a href="#" id="iconToggle" class="btn-trigger"><i class="fa fa-caret-left"></i></a>
        <div class="menu">
            <div class="contenido">
                <div class="header-contenido">
                    <h1>Reunión de organización HuayroTech</h1>
                    <img type="image/jpg" src="/img/evento.jpg" alt="asd">
                </div>
                <div class="descripcion-contenido">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum accusamus reiciendis vero amet consequatur et ex? Similique soluta facilis molestiae inventore, odio aperiam odit ipsa beatae repellat voluptas fugit ab et dolores sapiente. Officiis amet harum corporis fuga repudiandae dolorem reprehenderit distinctio, a qui tempore dolore, earum laudantium cum iste, voluptate commodi? Nostrum quam laborum consectetur exercitationem animi distinctio ipsum facere. Enim suscipit eligendi voluptatum mollitia ex optio incidunt sint exercitationem at? Omnis excepturi, temporibus, voluptas, laboriosam qui tenetur quo consequatur harum ab natus distinctio. Atque delectus deleniti vel, ad, minus, eligendi sunt iste dolor explicabo veritatis illum perferendis. Sed sunt deleniti molestiae et ex reprehenderit sint incidunt, facere consequatur, autem error delectus nam a repellat. Inventore rerum accusantium magni quibusdam molestias minus ipsum, praesentium debitis sequi officia quis adipisci placeat tenetur facilis odio beatae voluptates, veniam, fugit quasi eaque iusto corrupti recusandae modi aliquam! Quas, quia harum dolor illum quod dicta? Fuga fugit at sapiente? Quo at magni necessitatibus ut illo reiciendis commodi culpa assumenda, obcaecati omnis dolorem, inventore ipsa. Magnam quidem libero, accusantium nesciunt neque magni beatae? Voluptas cum excepturi doloribus perspiciatis ratione laboriosam ab omnis, id itaque vitae voluptatum, maiores animi numquam perferendis praesentium fuga reiciendis quam nulla nihil. Nihil hic necessitatibus, libero expedita incidunt minima? Accusantium earum expedita sed soluta, repellendus amet ab necessitatibus ratione quod tenetur rerum vitae at recusandae reiciendis sint dolor eos aliquam quis. Inventore dolor minus, nobis sit a quam, in dolores quo aliquid natus molestias libero aut voluptatem voluptate sequi porro maxime voluptatibus mollitia commodi tempora! Explicabo natus, qui, laudantium sit vero ducimus fugiat quae necessitatibus dolor laboriosam sapiente consectetur labore voluptates ratione ullam odio commodi repudiandae eius! Quaerat mollitia, porro minus quae illo officiis. Cumque, maxime voluptatibus voluptatum alias modi placeat obcaecati officia molestiae nemo dolores laboriosam sed magnam pariatur corrupti asperiores quia illo facilis. Reiciendis, eius laborum iste unde adipisci fugit, magni omnis ducimus dolore numquam molestias id quisquam facere modi quia sit sint soluta! Harum sed quidem assumenda voluptatem vel. Enim harum magni ipsum illo mollitia minima voluptate voluptatibus sapiente laborum voluptatem, possimus est placeat excepturi modi perspiciatis!</p>
                </div>
            </div>
        </div>
    </div>
    <div id="floating-panel">
        <a id="drop" onclick="drop()" class="btn-floating">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="change2"><i class="fa fa-search-location"></i> eventos</span>
        </a>
    </div>
    <div id="map"></div>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDVeXSSU_rDyyTPSc0mrJJoaSQRR-w4sI&callback=initMap">
        </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/menu.js"></script>

</body>

</html>